:root {
  /* --main-bg-color: #eff5fe; */
  --main-bg-color: #fffef4;
  /* --border-color: #0288d147; */
  --border-color: #fac53b;
  --container-width: 500px;
  --light-yellow: #fce7b1;
  --dark-yellow: #fbb440;
}

body,
html {
  font-family: system-ui;
  background: var(--main-bg-color);
  /* Default height is not zero and also default padding comes in body */
  height: 100%;
  padding: 0;
  margin: 0;
  /* Hiding the toast */
  overflow: hidden;
}

body,
.upload-container,
.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
}

.upload-container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 20px 20px #0000002e;
}

.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px dashed var(--border-color);
  margin: 30px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.dragged.drop-zone {
  background: var(--main-bg-color);
  /* border-color: #2196f3; */
  border-color: #fbb440;
}

.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}

.icon-container img {
  width: 75px;
  position: absolute;

  /*  This is to do the animation, transform-origin by default is from center
        Thus, changing it to bottom.

        Adding transition to transform with time .25s or 250ms, and animation type as ease-in-out
    */
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}

.icon-container .center {
  z-index: 2;
}

.icon-container .left .right {
  filter: grayscale(5);
}

/*  Will add this dragged class later on with the help of JS */
.dragged .icon-container .right {
  transform: rotate(10deg) translateX(20px) scale(0.9);
}

.dragged .icon-container .left {
  transform: rotate(-10deg) translateX(-20px) scale(0.9);
}

.dragged .icon-container .center {
  /* To move the center file a bit up on once dragged is hit */
  transform: translateY(-5px);
}

#file-input {
  display: none;
}

.browse-button {
  color: var(--border-color);
  cursor: pointer;
}

.progress-container {
  display: flex;
  width: var(--container-width);
  height: 70px;
  border: 2px solid var(--border-color);
  margin-bottom: 25px;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-start;

  /* Only when someone uploads something then change the display */
  display: none;
}

.progress-container .upload-progress {
  background-color: var(--border-color);
  width: 0%;
  height: 100%;
  border-radius: 4px;

  transition: width 0.25s ease-in;
}

.progress-container .inner-container {
  margin: 10px 15px;
  width: calc(100% - 30px);
}

.percent-container {
  font-size: 13px;
  opacity: 0.8;
}

.sharing-container {
  width: var(--container-width);
  margin-bottom: 10px;
  /* Only when the file link is ready, change the display */
  display: none;
}

#expiry-label, #send-email-label{
  opacity: 0.7;
  text-align: center;
  font-size: 13px;
}

.sharing-container .input-container{
  position: relative;
}

.sharing-container .input-container input {
  /* Box sizing used to keep padding inside */
  box-sizing: border-box;

  width: 100%;
  border: 2px dashed var(--border-color);
  border-radius: 3px;
  padding: 8px 10px;
  background: var(--light-yellow);

  font-size: 13px;
  color: #0000008c;
}

.input-container img{
  position: absolute;
  right: 7px;
  top: 8px;
  background: var(--light-yellow);
  cursor: pointer;
}

.email-container form{
  font-size: 13px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 30px 50px;
  margin: 20px 0px;
  
  display: flex;
  flex-direction: column;
}

.email-container .field{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.email-container input{
  /* This border is done none because by default border-style is set to inset. */
  border: none;
  border-bottom: 2px dotted var(--border-color);
  text-align: center;
  width: 230px;
  color: #0000008c;
}

.email-container input:focus{
  outline: none;
  background: var(--light-yellow);
}

.email-container button{
  cursor: pointer;
  background: var(--main-bg-color);
  border: 0.25px solid var(--border-color);
  border-radius: 5px;
  padding: 8px 40px;
  margin-top: 15px;
  color: #0000008c;
  transition: 0.5s;;
}

.email-container button:hover{
  background: var(--light-yellow);
}


/* Toast */
.toast{
  position: absolute;
  top: 2%;
  right: 2%;
  /* Sending the toast 60px down to make it disappear */
  transform: translateX(200%);
  /* Centered the abosolute toast till now */

  padding: 10px 20px;
  border-radius: 5px;
  background: var(--dark-yellow);
  color: var(--main-bg-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  /* Adding Tranition */
  transition: transform ease-in-out 0.2s;
}



/* Illustration */

.illustration{
  background: url('./assets/sharing_illustration.svg') no-repeat center;
  background-size: contain;
  height: 15vh;
  width: 25vw;
}


